extends layout

block content
  h1= title
  p Welcome to #{title}
  .offer
    .container
      .row.text-center
        p.lead
          h3
            .white Aplikacja zastępuje domyślny ruch kursora wykonywany przez mysz komputerową na rzecz urządzenia mobilnego (smartfona)<br /><br />Dostępne są dwie możliwości:</div><br />	<br/>
              .col-md-6
                img(src="/images/acc.jpg")
                h4 Sterowanie smartfonem wyposażonym w akcelerometr poprzez przechylanie urządzenia w różnych kierunkach
              .col-md-6
                img(src="/images/touchpad.jpg")
                h4 Sterowanie smartfonem poprzez ruch palca po ekranie urządzenia w wyznaczonym obszarze

  .container
    .row.text-center
      p.lead Projekt zespołowy pod opieką dr Tomasza Lesia, 2016r. &copy; Wszelkie prawa zastrzeżone.
