body {
    font-family: 'Open Sans', 'sans-serif';
}

.output {
    font-family: 'Open Sans', 'sans-serif';
    font-size: xx-large;
    background-color: lightgray;
    width: 800px;
}

#result {
    font-family: 'Open Sans', 'sans-serif';
    font-size: xx-large;
}

header {
    background: url(https://images.unsplash.com/photo-1462134750340-65243d62962b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f38c077b991c31062120223db6254716) center center;
    min-height: 99%;
    padding: 5% 0;
    color: #ffffff;
    text-shadow: 1% 1% 0 #000000;
}

header h1 {
    margin: 100px 0 10px;
    font-family: 'Open Sans', 'sans-serif';
}

header a {
    color: #000000;
    text-shadow: none;
}

.btn-custom {
    background: #ECD078;
    color: #5E2500;
    padding: 50px 70px;
    box-shadow: 0 3px 0 #542437;
    text-transform: uppercase;
}

.btn-custom2 {

    padding: 50px 70px;
    box-shadow: 0 3px 0 #542437;
    text-transform: uppercase;
}

#offer {
    min-height: 99%;
    background: #CDB380;
    color: #686868;
    padding: 5% 0;

}

#white {
    color: white;
    font-family: 'Open Sans', 'sans-serif';
}

#description {
    background: #E8DDCB;
    padding: 20% 0;
}

footer {
    padding: 50px 0;
    background: #333333;
    color: #ffffff;
}

.garden {
    text-align: center;
    position: relative;
    width: 800px;
    height: 800px;
    border: 5px solid #CCC;
    border-radius: 10px;
}

#ramka {
    width: 500px;
    height: 500px;
    background: green;
}

.ball {
    position: absolute;
    /*top   : 90px;
    left  : 90px;
    width : 20px;
    height: 20px;
    background: green;
    border-radius: 100%;*/
}

#buttonsDiv {

    height: 10%;
}

input[type=button] {
    height: 20%;
    width: 100%;
    color: #08233e;
    font-size: xx-large;
    border-radius: 3%;
}

input[type=button]:hover {
    background-color: rgba(255, 204, 0, 0.8);
}

#joy1 {
    background: #E8DDCB;
    padding: 1% 0;
}

#joy2 {
    min-height: 50%;
    background: #E8DDCB;
    padding: 1% 0;

}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 5px;
    text-align: center;
}

#mouseContainer {
    background-color: #CDB380;
    width: 98%;
    height: 60%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
}		

.kontener{
    width: 100%;
    height: 100%;
    overflow: hidden;
}